/* FISH */
#fish-container {
  padding-top: 25px;
  width: 325px;
  height: 420px;
  margin: auto;
  position: relative;
  border-radius: 50% 50% 0 0;
}

.wrap {
  width: 305px;
  height: 315px;
  position: relative;
}

.fish {
  position: absolute;
  top: 53px;
  width: 100px;
  z-index: 150;
  top: 80px;
  animation: fish 35s infinite linear;
}

@keyframes fish {
  0% {
    left: 53px;
    top: 175px;
  }

  35% {
    left: 53px;
    transform: scaleX(1);
    top: 10px;
  }

  35.5% {
    left: 153px;
    transform: scaleX(-1);
    top: 10px;
  }

  70% {
    left: 153px;
    transform: scaleX(-1);
    top: 210px;
  }

  70.5% {
    left: 53px;
    transform: scaleX(1);
    top: 210px;
  }

  80% {
    left: 53px;
    top: 10px;
  }

  100% {
    left: 53px;
    top: 175px;
  }
}

.position {
  transform: rotate(-37deg);
}

.body {
  transform: skewX(30deg) skewY(5deg);
  background-color: gold;
  border-radius: 220px 132px 37px 62px;
  box-shadow: 6px -12px 15px #3a2104 inset, -2px -3px 4px #281602 inset;
  height: 70px;
  position: absolute;
  top: 60px;
  width: 90px;
}


.eye {
  position: absolute;
  transform: rotate(50deg);
  background-color: white;
  border-radius: 50%;
  width: 9.4px;
  height: 17px;
  left: 40px;
  top: 5px;
  animation: blink-eye 3.5s infinite ease-in-out;
}

@keyframes blink-eye {
  10% {
    background-color: transparent;
  }
  30% {
    background-color: white;
  }
}

.iris {
  background-color: cyan;
  border-radius: 50%;
  content: "";
  width: 5px;
  height: 10px;
  left: 1.5px;
  top: 2.5px;
  position: absolute;
  animation: blink-iris 3.5s infinite ease-in;
}

@keyframes blink-iris {
  10% {
    background-color: transparent;
  }
  30% {
    background-color: cyan;
  }
}

.mouth {
  transform: rotate(153deg);
  border-radius: 8px 71px 8px 8px;
  border-right: 5.3px solid maroon;
  width: 8px;
  height: 28px;
  top: 14px;
  left: 19px;
  position: absolute;
  animation: mouth 3.5s infinite ease-in;
}

@keyframes mouth {
  from {
    transform: scale(1) rotate(125deg);
  }

  50% {
    transform: scale(1) rotate(153deg);
  }

  to {
    transform: scale(1) rotate(125deg);
  }
}

.gill {
  transform: rotate(50deg);
  border-radius: 50%;
  border-right: 3px solid maroon;
  height: 70px;
  left: 15px;
  position: absolute;
  top: -10px;
  width: 35px;
  animation: gill 1s infinite ease-in;
}

@keyframes gill {
  from {
    transform: scale(1) rotate(50deg);
  }

  50% {
    transform: scale(1.1) rotate(50deg);
  }

  to {
    transform: scale(1) rotate(50deg);
  }
}

.wing1 {
  transform: skewX(35deg) skewY(8deg);
  background-color: gold;
  border-radius: 200px 112px 47px 62px;
  box-shadow: -7px -8px 9px black inset;
  height: 15px;
  left: 53px;
  position: absolute;
  top: 80px;
  width: 39px;
  animation: wing 1s infinite ease-in;
}

@keyframes wing {
  from {
    transform: scale(1) rotate(19deg);
  }

  50% {
    transform: scale(1.1) rotate(1deg);
  }

  to {
    transform: scale(1) rotate(19deg);
  }
}

.wing2 {
  transform: skewX(140deg) skewY(28deg);
  background-color: gold;
  border-radius: 200px 112px 47px 62px;
  box-shadow: -2px -3px 4px black inset;
  height: 18px;
  left: 18px;
  position: absolute;
  top: 108px;
  width: 42px;
}

.tail {
  transform: skewX(30deg) skewY(5deg);
  background-color: gold;
  border-radius: 200px 112px 47px 62px;
  box-shadow: -10px -5px 9px #060200 inset;
  height: 29px;
  left: 93px;
  position: absolute;
  top: 105px;
  width: 42px;
  animation: tail 1s infinite ease-in;
}

.tail:before {
  transform: skewX(30deg) skewY(5deg);
  background-color: gold;
  border-radius: 62px 112px 112px 200px;
  box-shadow: 4px 10px 9px #2f1e01 inset, -6px -7px 2px black inset;
  content: "";
  height: 29px;
  left: -10px;
  position: absolute;
  top: 23px;
  width: 38px;
  animation: tail 1s infinite ease-in;
}

@keyframes tail {
  from {
    transform: scale(0.8) skewY(1deg);
  }

  50% {
    transform: scale(0.7) skewY(23deg);
  }

  to {
    transform: scale(0.8) skewY(1deg);
  }
}


.bubble {
  width: 50px;
  height: 50px;
  background: transparent;
  margin-top: -50px;
  margin-left: 26px;
}

#bubble1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1.7px solid cyan;
  animation: bubble1 4s infinite linear;
}

@keyframes bubble1 {
  0% {
    margin-top: 39px;
  }
  100% {
   margin-top: -91px;
  }
}

#bubble2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1.7px solid cyan;
  animation: bubble2 5s infinite linear;
}

@keyframes bubble2 {
  0% {
    margin-top: 2px;
  }
  100% {
    margin-top: -18px;
  }
}

#bubble3 {
  width: 8px;
  height:8px;
  border-radius: 50%;
  border: 1.7px solid cyan;
  animation: bubble3 8s infinite linear;
}

@keyframes bubble3 {
  0% {
    margin-top: 15px;
  }
  100% {
    margin-top: -18px;
  }
}
