/* GENERAL SETTINGS */
html,
body {
  padding: 0px;
  margin: 0px !important;
  font-family: 'Segoe UI', 'Lato', 'Pacifico', 'Montserrat';
}

h1 {
  color: springgreen;
  text-shadow: .8px .8px 1.7px black;
}

h2 {
  color: red;
  text-shadow: .8px .8px 1.7px black;
}

h3 {
  color: red;
  font-weight: 100;
  text-shadow: .5px .8px 1px black;
}

h4 {
  color: springgreen;
  text-shadow: .5px .5px .5px black;
}

h5 {
  color: red;
  text-align: center;
  font-weight: 800;
  text-shadow: .5px .8px 1px black;
}
/* HEADER SETTINGS */
#header {
  font-family: Montserrat, sans-serif;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  #header {
    height: 575px;
  }
}

/* NAVBAR */
header .nav {
  position: absolute;
  top: 1em;
  width: 100%;
  background: transparent;
  transition: 0.8s;
  z-index: 188;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .nav a {
  display: inline-block;
  font-weight: 100;
  margin: 0px 4px;
  text-decoration: none;
  font-size: 12px;
  color: springgreen;
}

@media only screen and (min-width: 769px) {
  header .nav a {
    font-weight: 800;
  }
}

header .nav a:hover {
  color: magenta;
}

/* VIDEO SETTINGS */
@media only screen and (min-width: 769px) {

  .mobile {
    display: none;
  }

  .desktop {
    width: 100%;
  }

}

@media only screen and (max-width: 768px) {

  .desktop {
    display: none;
  }

  .mobile {
    height: 570px;
    width: 100%;
  }
}

/* WEBSITE LOGO */
#header-logo {
  color: springgreen;
  width: 98%;
  font-size: 44px;
  text-align: center;
  margin-top: -270px;
  animation: floatingOnWaves 3.5s infinite linear;
}

@media only screen and (min-width: 768px) {
  #header-logo {
    font-size: 107px;
    margin-top: -500px;
  }
}

@keyframes floatingOnWaves {
  0% {
    transform: rotate(0) translateY(0);
  }

  20% {
    transform: rotate(0) translateY(0);
  }

  35% {
    transform: rotate(8deg) translateY(-28px);
  }

  57% {
    transform: rotate(-6deg) translateY(0);
  }

  100% {
    transform: rotate(0) translateY(0);
  }
}

#callToAction {
  font-weight: 800;
  transform: rotateY(0deg);
}

@media only screen and (min-width: 768px) {
  #callToAction {
    letter-spacing: 5px;
  }
}

/* WEBSITE TITLE */
.letters-waves {
  position: relative;
  text-align: center;
  -webkit-box-reflect: below -28px linear-gradient(transparent, rgba(0, 0, 0, .2));
  color: springgreen;
  font-weight: 800;
}

.letters-waves span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waves 3.5s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waves {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-28px);
  }

  40% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.letters-waves h1 {
  font-size: 21px;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .letters-waves h1 {
    font-size: 53px;
  }
}

#callToAction h2 {
  font-size: 18px;
  padding-top: -5px;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  #callToAction h2 {
    font-size: 35px;
  }
}

#callToAction h3 {
  padding-top: 0;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  #callToAction h3 {
    padding-top: 17px;
    letter-spacing: 1px;
    padding-top: 5px;
    font-size: 25px;
  }
}

#callToAction a {
  color: white;
  font-weight: 800;
  padding: 3px 17px 3px 17px;
  background-color: red;
  text-decoration: none;
  border-radius: 17px;
}

#callToAction a:hover {
  background-color: springgreen;
}

.btn {
  padding: 0;
  width: 180px;
  margin: 0 auto;
  background-color: red;
  height: 34px;
  color: white;
  font-size: 17px;
  transition: 0.2s;
  border-radius: 5px;
}

header h4 {
  padding-top: 2px;
  font-size: 14px;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  header h4 {
    font-size: 17px;
    padding-top: 5px;
    letter-spacing: 8px;
    font-size: 21px;
  }
}


article {
  width: 96%;
  margin-top: 26px;
  height: 98px;
}

@media (min-width: 768px) {
  article {
    width: 100%;
    margin-top: 235px;
    height: 270px;
  }
}

@media (min-width: 1420px) {
  article {
    width: 100%;
    margin-top: 280px;
    height: 350px;
  }
}

.promo-carousel {
  width: 100%;
  max-width: 1700px;
  perspective: 53px;
  perspective-origin: 53% 71%;
  min-height: 8em;
  margin: auto;
}

.promo-banner {
  position: absolute;
  width: 33%; 
  padding-bottom: 19%;
  transform-origin: left center;
  animation: promo-carousel 12s infinite;
}

.promo-banner:first-child {
  animation-delay: -4s;
}

.promo-banner:last-child {
  animation-delay: -8s;
}

.promo-image {
  position: absolute;
  width: 100%;
  border-radius: 2px;
}

@keyframes promo-carousel {
  0%{
    transform: translateX(100%) rotatey(0) scale(1.79, 1.79);
    transform-origin: center center;
    z-index: 10;
  }
  27%{
    transform: translateX(100%) rotatey(0) scale(1.79, 1.79);
    transform-origin: center center;
    z-index: 10;
  }
  35%{
    transform: translateX(12%) translateY(0) rotatey(10deg) scale(.8,1);
    transform-origin: left center;
    z-index: 5;
  }
  60%{
    transform: translateX(12%) translateY(0) rotatey(10deg) scale(.8,1);
    transform-origin: left center;
    z-index: 5;
  }
  71%{
    transform: translateX(188%) translateY(0) rotatey(-10deg) scale(.8,1);
    transform-origin: right center;
    z-index: 5;
  }
  93%{
    transform: translateX(188%) translateY(0) rotatey(-10deg) scale(.8,1);
    transform-origin: right center;
    z-index: 5;
  }
  100%{
    transform: translateX(100%) rotatey(0) scale(1.79, 1.79);
    transform-origin: center center;
    z-index: 10;
  }
}

/* ABOUT US SECTION */
.container-fluid {
  padding: 0;
  margin: auto;
}

#history {
  margin-top: 35px;
}

@media only screen and (min-width: 768px) {
  #history {
    margin-top: 71px;
  }
}

#history p {
  font-size: 17px;
  color: springgreen;
  text-shadow: .5px .5px .5px black;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  #history p {
    font-size: 21px;
  }
}

#history b {
  font-size: 44px;
  color: springgreen;
  text-shadow: .5px .5px .5px black;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  #history b {
    font-size: 71px;
  }
}

.image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  padding-bottom: 8vw;
  margin-left: -14px;
  padding-left: 0;
}

#underwater {
  width: 100%;
  background-image: url("./parallax-background.png");
}

/* SERVICES SECTION */
#services {
  cursor: pointer;
}

.panel {
  margin: 8px;
  border-radius: none;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .5);
}

#panel1 {
  border: 1px solid cyan;
}

#panel2 {
  border: 1px solid #ffa500;
}

#panel3 {
  border: 1px solid magenta;
}

#panel4 {
  border: 1px solid springgreen;
}

.shake:hover,
.shake:active {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  20% {
    transform: rotateY(5deg);
    transform: rotateZ(5deg);
  }

  40% {
    transform: rotateY(-5deg);
    transform: rotateZ(-5deg);
  }

  60% {
    transform: rotateY(5deg);
    transform: rotateZ(5deg);
  }

  80% {
    transform: rotateY(-5deg);
    transform: rotateZ(-5deg);
  }

  100% {
    transform: rotateY(5deg);
    transform: rotateZ(5deg);
  }
}

.btn:hover,
.btn:focus,
.btn btn-default btn-lg:hover {
  border: 1px solid springgreen;
  background-color: springgreen;
  text-decoration: none;
  transform: scale(1.1);
}

/* PHOTO CAROUSEL*/
.slider {
  margin-top: 35px;
  background: white;
  height: 188px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .photo-scrolling {
  animation: scroll 71s linear infinite;
  display: flex;
}

.slider .photo {
  height: 188px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-328px * 7));
  }
}

/* TICKET RESERVATION SECTION */
.booking-container {
  width: 287px;
  margin: 2px auto;
  background-color: darkgrey;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* TICKET FORM */
form {
  margin: 8px;
  font-size: 14px;
  color: springgreen;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="time"],
select {
  width: 100%;
  height: 21px;
  font-size: 14px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 44px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  height: 35px;
  padding: 8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: springgreen;
}

/* FOOTER */
.btn btn-default btn-lg {
  background-color: red;
}

footer {
  background-color: white;
  position: relative;
  overflow: hidden;
  z-index: 9;
  margin-top: 35px;
}

a,
a:active,
a:focus {
  color: red;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-list li+li {
  margin-top: 8px;
}

.link-list li a {
  color: red;
  font-weight: 500;
  font-size: 12px;
}

li a:hover {
  color: springgreen;
  text-decoration: none;
}

.news-letter {
  margin-top: -28px;
}

.news-letter input[type="email"] {
  width: 75%;
  background-color: springgreen;
  color: red;
  padding: 8px;
  border-radius: 8px 0 0 8px;
  border: none;
}

@media only screen and (min-width: 768px) {
  .news-letter input[type="email"] {
    width: 35%;
  }
}

.logo-bar {
  margin: 1px auto;
}

.face {
  background: hsl(221, 44%, 40%);
  color: white;
  font-size: 18px;
}

.twit {
  background: hsl(206, 82%, 60%);
  color: white;
  font-size: 18px;
}

.inst {
  background: hsl(315, 71%, 50%);
  color: white;
  font-size: 18px;
}

.link {
  background: blue;
  color: white;
  font-size: 18px;
}

.yout {
  background: hsl(0, 100%, 50%);
  color: white;
  font-size: 18px;
}

.pint {
  background: #c92228;
  color: white;
  font-size: 18px;
}

.news-letter input[type="submit"] {
  width: 25%;
  background-color: red;
  color: springgreen;
  padding: 8px;
  border-radius: 0 8px 8px 0;
  margin-left: -5px;
  border: none;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .news-letter input[type="submit"] {
    width: 17%;
  }
}

/* Animation Simple CSS Waves Animation https://codepen.io/goodkatz/pen/YbXqEV*/

.waves {
  position: relative;
  display: block;
  width: 100%;
  height: 170px;
  margin: 0 0 -1px 0;
}

.seafooter>use {
  animation: move-forever 50s cubic-bezier(.55, .5, .45, .5) infinite;
}

.seafooter>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 14s;
}

.seafooter.image>use:nth-child(1) {
  animation-delay: -3s;
  animation-duration: 20s;
}

.seafooter.image>use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 26s;
}

.seafooter>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 40s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@media (max-width: 50em) {
  .waves {
    height: 17vw;
  }
}